.wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 30px;
  width: 288px;
  height: 216px;

  padding: 20px;

  border-radius: 23px;

  background: #4d3d7c33;
}

.input {
  height: 48px;

  border: none;
  border-radius: 14px;

  padding: 0 16px;

  background: white;

  font-size: 14px;
}

.input:focus {
  outline: none;
}

.button {
  height: 48px;

  border: none;
  border-radius: 14px;

  background: #4d3d7c;
  color: white;

  font-size: 15px;
  font-weight: 600;
}
