@import './styles/variables.scss';

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/OutfitBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-SemiBold.otf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
}

button {
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
