.header {
  display: flex;
  height: 80px;
  padding: 5px 31px;
  align-items: center;
}
.notFound {
  display: flex;
  width: 390px;
  padding-bottom: 301px;
  flex-direction: column;
  align-items: center;
  gap: 220px;
}

.notFound h1 {
  color: var(--black, #000);
  text-align: center;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.homeButton {
  display: flex;
  height: 40px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 13px;
  background: var(--Purple-900, #4d3d7c);
}

.backButton {
  color: #000;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  border: none;
  cursor: pointer;
}
