.page {
  min-height: 100vh;
  background: #fff;
  padding: 0px 34px 24px;
  box-sizing: border-box;
}

.backButton {
  border: none;
  background: transparent;
  font-size: 28px;
  padding: 0;
  margin-bottom: 54px;
  cursor: pointer;
  color: black;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 24px;
}

.monthRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9786ca;
  margin-bottom: 24px;
}

.monthRow button {
  border: none;
  background: transparent;
  color: #9786ca;
  font-size: 20px;
}

.monthRow p {
  margin: 0;
  font-size: 10px;
  text-align: center;
}

.monthRow span {
  display: block;
  font-size: 10px;
  text-align: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  margin-bottom: 52px;
}

.day,
.selectedDay {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background: transparent;
  color: #a59dbd;
  font-size: 16px;
}

.selectedDay {
  background: #9786ca;
  color: white;
}

.time {
  width: fit-content;
  margin: 0 auto 38px;
  color: #4f3d85;
  font-size: 32px;
  border-bottom: 4px solid #e7ddff;
  padding-bottom: 4px;
}

.submitButton {
  display: block;
  margin: 0 auto;
  background: #4f3d85;
  color: white;
  border: none;
  border-radius: 9px;
  padding: 9px 18px;
  font-weight: 700;
}

.timePicker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 48px 0 34px;
  color: #4d3d7c;
}

.timeColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeColumn span {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.separator {
  font-size: 36px;
  line-height: 1;
  margin-top: 2px;
}

.arrowButton {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.arrowButton img {
  width: 18px;
  height: 10px;
}

.disabledDay {
  opacity: 0.3;
  pointer-events: none;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
