.container {
  position: relative;
  padding: 0px 40px;
  min-height: 100vh;
}

.title {
  margin: 24px 0px;
}

.registerButton {
  height: 40px;
  width: 100%;
  margin-top: 32px;
  padding: 10px;
  border-radius: var(--main-border-radius);
  font-size: 16px;
  font-weight: bold;
  background-color: var(--color-purple);
}
