PORT=#port on which backend is running inside its container
ALLOWED_ORIGINS=#list of origins allowed to send backend requests
JWT_SECRET=#openssl rand -hex 32 (secret for signing JSON Web Token)
DATABASE_URL=#url of postgresql database
SMTP_HOST=#host for sending email notifications
SMTP_PORT=#dedicated port for the host
MAIL_USER=#most of the times api key which host has given you
MAIL_PASS=#password for mail user
MAIL_FROM=#personal email
GEOCODING_API_KEY=#Google Geocoding Api Key
HTTP_TIMEOUT=#timeout (in miliseconds) for external api calls
HTTP_MAX_REDIRECTS=#max number of redirections during external api calls
AWS_KEY_ID=#aws key id for s3 bucket service
AWS_SECRET_ACCESS_KEY=#aws access key for s3 bucket service
AWS_BUCKET_NAME=#s3 bucket name
AWS_REGION=#region of s3 bucket instance
