.select__control {
  height: 40px;
  border-radius: var(--main-border-radius);
  border-color: #a59dbd;
}

.select__control--is-focused {
  border-color: var(--color-purple);
  box-shadow: 0 0 0 2px rgba(107, 76, 255, 0.2);
}

.select__option--is-selected {
  background-color: var(--color-purple);
}
