.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  padding-bottom: 15px;
}

.logoImage {
  height: 32px;
}

.loginButton {
  border: none;
  border-radius: 14px;
  padding: 10px 16px;
  color: white;
  background: white;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}
.loginButton img {
  height: 35;
}
