.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 31px;
  margin-bottom: 24px;
}

.logoImage {
  height: 32px;
}

.loginButton {
  border: none;
  border-radius: 14px;
  color: white;
  background: none;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}
.loginButton img {
  height: 35;
}

.profileButton {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--color-purple);

  transition: background-color 0.2s ease;
}

.profileButton:hover {
  background-color: var(--color-purple-hover);
}
