.container {
  position: relative;
  padding: 0px 45px;
  min-height: 100vh;
}

.title {
  margin: 24px 0px;
}

.nameRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.submitButton {
  margin-top: 24px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--main-border-radius);
  background-color: var(--color-purple);

  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: var(--color-purple-hover);
}
