.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  width: 80%;
  padding: 40px 20px;
  border-radius: var(--main-border-radius);
  background-color: white;
}
