.hero {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  margin-left: 36px;
  width: 80%;
}

.titleWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 700px;
}

.title {
  margin: 0;
  color: #000;
  font-family: Outfit, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
}

.dynamicWrapper {
  position: relative;
  width: 180px;
  height: 52px;
  overflow: hidden;
}

.dynamicText {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Outfit, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
}

.hairText {
  color: var(--purple-600, #9786ca);
}

.makeupText {
  color: var(--pink-900, #dc6ab8);
}

.nailsText {
  color: var(--blue-900, #2b9ec9);
}

.currentText {
  opacity: 1;
}

.slideOut {
  animation: outLeft 0.4s ease forwards;
}

.slideInFromRight {
  animation: inRight 0.4s ease forwards;
}

@keyframes outLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-80px);
    opacity: 0;
  }
}

@keyframes inRight {
  from {
    transform: translateX(80px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 367px) {
  .dynamicWrapper {
    top: -60px;
    left: 56px;
    font-size: 32px;
  }

  .title {
    font-size: 40px;
    line-height: 1.1;
  }
}

@media (min-width: 367px) {
  .dynamicWrapper {
    top: -16px;
    left: 0;
    font-size: 32px;
  }

  .title {
    font-size: 40px;
    line-height: 1.1;
  }
}
@media (min-width: 548px) and (max-width: 611px) {
  .dynamicWrapper {
    top: -58px;
    margin-left: 56px;
  }

  .title {
    font-size: 40px;
    line-height: 1.1;
  }
}
