.title {
  margin-top: 24px;
}

.subtitle {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 24px;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 12px;
}

.categoryButton {
  position: relative;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  width: 100%;
  padding: 16px;
  color: var(--purple-light);
  font-size: 24px;
  background: none;
  border-radius: var(--main-border-radius);
  border: 2px solid var(--purple-light);

  transition:
    transform 0.1s ease,
    border-width 0.05s ease;

  &:hover {
    transform: translateY(2px);
  }

  &.active {
    border-color: var(--color-purple);
    border-width: 4px;
  }
}

.categoryImg {
  align-self: flex-start;
}

.categoryLabel {
  justify-self: center;
}

.error {
  font-size: 12px;
  color: red;
  margin-bottom: 12px;
}

@media (min-width: 500px) {
  .categoryButton {
    padding: 16px 32px;
  }
}
